@import "tailwindcss";
/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* or width: 0; for better compatibility */
    width: 0px;
    background: transparent;
    -webkit-appearance: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}